* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
.toggle {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
  }
  
  .hidden {
    display: none !important;
  }
  
  #hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  
  .menu-mob {
    display: block;
    background: darkgrey;
    margin: 20px;
    padding: 20px;
  }
  
  .menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.about-section {
    background: url(asset/about-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .abt-greeting {
    color: red;
    margin-top: 20px;
  }
  
  .abt-title {
    color: red;
    margin: 25px 4px 50px 14px;
    font-size: 32px;
  }
  
  .abt-det {
    display: flex;
    line-height: 24px;

  }
  .logo-info{
    background: white;
  }
  
  .abt-detail {
    font-size: 12px;
    background: white;
    margin: 20px 10px 20px;
    border: 2px solid #fff;
    background-color: #fdfdfd;
  }
  
  .abt-email {
    font-size: 15px;
    color: #5a5a5a;
    text-decoration: underline;
  }
  
  .abt-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .abt-contact {
    color: #7a7a7a;
  }
  
  .card-section {
    background: url(asset/desk-back.png);
    position: relative;
  }
  
  .contact {
    display: flex;
    padding: 26px;
    gap: 10px;
    flex-direction: column;
    line-height: 24px;
    align-items: center;
  }
  
  .logo {
    color: #838383;
    margin: 24px;
    font-size: 13px;
  }
  .hr2{
    display: block;
    border:  1px solid #d3d3d3;
  }
  
  .cc-log {
    display: flex;
    align-items: center;
    width: 150px;
    margin: auto;
    padding: 30px;
  }
  .see-p{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    padding: 10px 20px 0;
    margin-top: 24px;
  }
  .pic-info{
    padding: 24px;
    font-size: 15px;    
  }
  .logo-separetor{
    display: block;
    border-top: 1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    height: 30px;
  }
  
.p-pic {
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  .pic-1 {
    padding: 16px;
  }
  
  .pic-2 {
    padding: 16px;
  }
  
.summit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .su-cre {
    font-size: 24px;
    padding: 0 8px;
    margin: 0 8px;
  }
  /*
  .mobile-footer {
    height: 400px;
  }
  */
  
.mozilla,
.google,
.naver {
  width: 100px;
  height: 35px;
}

.part {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  color: white;
}

.foot {
  background-color: #212529;
  height: 280px;
  margin-top: 24px;
}

.da-air {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}

.air,
.daumk {
  width: 120px;
  height: 35px;
}

.partners-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.right-res {
  display: flex;
  align-items: center;
  padding: 18px;
  gap: 20px;
  justify-content: space-around;
}
hr {
    border: 1px solid #ff0000c4;
    align-items: center;
    width: 43px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .top-desk{
    display: none;
  }
  .desk-menu{
    display: none;
  }
  .desk-list{
    display: none;
  }
  
@media screen and (min-width: 768px) {
    .toggle {
        display: none;
      }
      .top-head{
        background: #3e3e3e; 
         }
         .top-desk{
            display: flex;
            padding: 3px;
            color: white;
            justify-content: flex-end;
            list-style: none;
            gap: 29px;
            align-items: center;
            padding: 2px;
            margin-right: 67px;
        }
        
         
      .desk-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
      }
      
  .p-pic {
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }

  .pic-1 {
    width: 400px;
  }

  .pic-2 {
    width: 400px;
  }
  
  .menu-list {
    display: none;
  }

  .fb,
  .twit {
    width: 17px;
    padding: 2px;
  }

  .desk-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
/*
  .top-desk {
    display: flex;
    padding: 3px;
  }
  */

  .ab-desk {
    color: red;
  }

  .desk-cc {
    color: red;
    border: 4px solid red;
    padding: 6px;
  }

  .desk-list {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #868686f5;
    align-items: center;
  }
  .abt-detail{
    border: 2px solid #fff;
    width: 70%;
    padding: 24px;
    font-size: 12px;
    color: #1c3457;
    text-align: center;
    margin: 0 auto; 
 }
  .mobile-footer{
    display: none;
  }
  .right-res {
    display: flex;
    background-color: #32353b;
    align-items: center;
    padding: 18px;
    gap: 20px;
    margin: 40px auto;
    justify-content: space-around;
  }
}