
.top-head{
    display:none;
}
#mobile-menu{
display: none !important;
}
#humberger{
    cursor: pointer;
    width: 24px;
}
.menu-list{
    position: absolute;
}






@media screen and (width:768px){
  
}