*{
margin:0;
padding:0;
}
.top-head{
    display:none;
}
#mobile-menu{
display: none;
}
.toggle{
    display: flex;
    padding: 24px;
    background: bisque;
}
.closing{
    display: none;
position: absolute;
}
#humberger{
    cursor: pointer;
    width: 24px;
}
.menu-list{
    position: absolute;
}
.main-section{
    background: url(asset/desk-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
padding: 0px 12px 0px 12px;
gap: 30px;
}
.section-head{
    background: #8080800d;
    margin-top: 100px;
    padding: 24px 0;;
}

.greeting{
    color: red;
}
.topic{
    color: red;
    font-size: 30px;
}
.detail{
   background:#F8F8F8;
    font-size: 15px;
    padding: 24px 0;
}
.main-bottom{
    padding: 24px 0;
}
.program{
    background: url(asset/main-program.png);
    margin-top: 200px;
    height: 650px;
}
.m-p{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 24px;
    align-items: center;
    color: white;

} /*
.m-pro{
    display: flex;
    margin-top: 24px;
    align-items: center;
    margin-left: 60px;
    color: white;
    
} */

.uderline{
    align-items: center;
    border: 1px solid #ff0000c4;
    align-items: center;
    width: 43px;
    margin-top: 10px;
    margin-left: 15px;
}
.lecture , .forum , .Exhibition, .workshop ,.ignite{
    display: flex;
    align-items: center;
    margin: 12px;
    color: white;
    gap: 12px;
    background-color: hsl(260deg 11% 85% / 18%);
}
.p-list{
    color: red;
}
.join-glo{
    background: red;
    margin: 24px 48px;
    padding: 24px;
}
.featured-speakers{
    height: 600px;
}
.f-speakers{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
hr{
    align-items: center;
    border: 1px solid #ff0000c4;
    align-items: center;
    width: 43px;
    margin-top: 10px;
    margin-left: 15px;
}
.speaker-one{
    display: flex;
}
.speaker-info{
    display: flex;
    flex-direction: column;
}
.speaker-w{
    color:red
}
.speaker-e{
    
}





@media screen and (min-width:768px){
    .toggle{
        display: none;
    }
    .top-head{
        display:flex;
    }
    .join-glo{
        display: none;
    }
    .lecture,.Exhibition,.forum,.workshop,.ignite{
        display: flex;
        flex-direction: column;
    }
    .menu-mob{
        display: flex;
    }
    .pro-list{
        display:flex
    }
  
}